<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>s
    <link rel="stylesheet" href="/style_menu.css">
</head>
<body>
    <div class="menu-container">
        <h1>Painel de Senhas - Menu Principal</h1>
        <nav>
            <ul>
                <li><a href="/templates/fila/fila.html">Entrada na Fila</a></li>
                <li><a href="/templates/Chamada/chamada.html">Chamar Pacientes</a></li>
                <li><a href="/templates/Paniel_Tv/paniel_tv.html">Painel TV</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>

